@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 400;
    background-color: red;
    
}

/* style headings */

h1, h2 {
    font-family: Courgette;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: white;
}

h1 {

}

/* style navigation items*/

.navigation-bar .all-nav-items {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    background-size: cover;
    background-color: black;
    
}

.all-nav-items li {
    list-style-type: none; 
    color: white;
}

.all-nav-items a {
    font-size: 130%;
    text-decoration: none;
    font-family: Courgette, sans-serif;
    letter-spacing: 1px;
    color: white;
}


/* style Logo */

.logo {

}